*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    display: flex;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
/* header-start */
header #up-nav{
    background-color: #047eb3;
    border-bottom: 1px solid white;
}
header #up-nav{
    height: 100px;
   padding-top: 15px;
}

header #up-nav .left{
    margin-left: 150px;
}
header #up-nav .center{
    display: flex;
}

header #up-nav .center a{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #efffff;
    margin-left: 60px;
    margin-top: 10px;
}
header #up-nav .center a .icon{
    margin-right: 10px;
}
header #up-nav .right{
    display: flex;
    align-items: center;
}
header #up-nav .right .search{
    background-color: white;
    padding: 12px 10px;
    border-radius: 20px;
   margin-top: 10px;
}
header #up-nav .right  .search form button{
    border: none;
    margin-left: 10px;
}
header #up-nav .right .search form input{
    border: none;
    margin-left: 30px;
    font-size: 15px;
}
header #up-nav .right .login{
    margin-left: 20px;
    padding-top: 5px;
}
header #up-nav .right .login a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}