*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    display: flex;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
/* header-start */
 /* up-nav start */
header #up-nav{
    background-color: #047eb3;
    border-bottom: 1px solid #409dc5;
}
header #up-nav{
    height: 85px;
   padding-top: 15px;
}

header #up-nav .left{
    display: flex;
   justify-content: end;
}
header #up-nav .center{
    display: flex;
   justify-content: center;
}

header #up-nav .center a{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #efffff;
    margin-left: 60px;
    margin-top: 10px;
    
}
header #up-nav .center a .icon{
    margin-right: 10px;
}
header #up-nav .right{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 50px;
   
}
header #up-nav .right .search{
    background-color: white;
    padding: 15px 0 15px 10px;
    border-radius: 15px;
    margin-top: 3px;
}
header #up-nav .right  .search form button{
    border: none;
    
}

header #up-nav .right .search form input{
    border: none;
    padding-left: 20px;
    font-size: 15px;
}
header #up-nav .right .login{
    margin-left: 20px;
    padding-top: 7px;
}
header #up-nav .right .login a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
/* up-nav end */
/* down-nav start */
#down-nav{
    background-color: #047eb3;
    
}
#down-nav nav{
    height: 60px;
    display: flex;
    justify-content: center;
}
#down-nav nav ul{
    display: flex;
    margin-right: 300px;
}
#down-nav nav ul li{
    list-style-type: none;
    padding-left: 50px;
    margin-top: 20px;
}
#down-nav nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
/* down-nav end */
/* header end */

/* main start */
/* quickly-links-start */
#quickly-links .quickly{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
#quickly-links .links{
    display: flex;
   
}

#quickly-links .links a{
   text-decoration: none;
   background-color: #d7eaf3;
   padding: 20px 40px;
   border-radius: 12px;
   text-align: center;
   margin-left: 30px;
   font-size: 16px;
}
/* quickly-links-end */
 /* news start */
  /* news left start */
 #news{
    margin-top: 20px;
 }
 #news .left{
    width: 600px;
    height: 400px;
    margin-left: 350px;
    position: relative;

 }
 #news .left::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.16);
}
 
 #news .left img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
 }
 #news .left .news-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 20px 40px;
 }
 #news .left .news-heading a{
    text-decoration: none;
    color: white;
    background-color: #047eb3;
    padding: 10px 40px;
    border-radius: 10px;
 }
 #news .left .news-heading .title p{
    color: white;
    font-size: 20px;
 }

 #news .center{
    margin-left: 30px;
 }
 #news .center .up{
     width: 300px;
     height: 190px;
     margin-bottom: 20px;
 }
 #news .center .up img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
 }
 #news .center .down{
    width: 300px;
    height: 190px;
 } 
 #news .center .down img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
 }


